terraform.tfvars
variables.tf
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
.terraform.lock.hcl
*/.terraform
*/gke-project-423206-dd4c9d9fd9cf.json
*/gke-project-423206-4bc43d7082fa.json
*/gke-project-423206-86a37c7a4330.json